<% if @words == [] %>

  <%=  p "ADD A WORD!" %>
<% else %>
  <% @words.each do |x| %>
    <div class="entry">
      <span class="spelling"><%= p x.word.spelling + ":" %></span>
      <span class="definition"><%= p x.word.definition %></span>
      <span class="delete"><%= link_to "Remove", word_path(x.word.id) , method: "delete"%></span>
    </div>
    <br>
  <% end %>
<% end %>

<% if flash[:wordalert] %>
  <%= flash[:wordalert] %>
<% end %>

